<%= link_to "Nueva Edicion", new_revista_path %>
<%- if @revistas.size > 0 %>
  <table id="revistas">
    <thead>
      <th>Numero</th>
      <th>Mes</th>
      <th>Ano</th>
      <th>Valor</th>
      <th>Stock</th>
    </thead>
    <% @revistas.each do |revista| %>
      <tr value="<%= revista.id %>">
        <td><%= revista.numero %></td>
        <td><%= revista.mes %></td>
        <td><%= revista.ano %></td>
        <td><%= revista.valor %></td>
        <td class="stock"><%= revista.stock %></td>
        <td><%= link_to_function "sumar", :onclick => "popup_sumar_stock(#{revista.id})" %></td>
        <td><%= link_to_function "restar", :onclick => "popup_restar_stock(#{revista.id})" %></td>
        <td><%= link_to "control", revista_controles_stock_path(revista) %></td>
      </tr>
    <% end %>
  </table>
<%- end %>