<%- if @compras.size > 0 %>
  <table id="compras">
    <thead>
      <th>Nro.</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Pago</th>
      <th>Debe</th>
    </thead>
    <%- @compras.each do |compra| %>
      <%= render :partial => "entrega", :locals => { :compra => compra } %>
    <%- end %>
    <tr class="total">
      <td>Total</td>
      <td></td>
      <td><%= @cantidad_total_compras %></td>
      <td></td>
      <%- if @saldo < 0 %>
        <td class="deuda">
          <%= - @saldo %>
        </td>
      <%- else %>
        <td></td>
      <%- end %>
    </tr>
  </table>
  <%= link_to_function("Devolver plata", :onclick => "popup_devolver_plata(#{@vendedor.id})") %><br />
  <!--<label>Total Revistas Compradas: </label><%= @vendedor.total_vendidas %><br />-->
  <br />
<%- else %>
  El vendedor todavia no realizo una compra.<br />
<%- end %>
<%= link_to "Comprar", new_vendedor_entrega_url(@vendedor) %>