<%- if @usos_servicios.size > 0 %>
  <table>
    <thead>
      <th>Rubro</th>
      <th>Servicio</th>
      <th>Fecha</th>
      <th>Comentario</th>
    </thead>
    <% @usos_servicios.each do |uso_servicio| %>
      <tr>
        <td><%= uso_servicio.rubro.nombre %></td>
        <td><%= uso_servicio.servicio.nombre if uso_servicio.servicio%></td>
        <td><%= uso_servicio.fecha %></td>
        <td><%= uso_servicio.comentario %></td>
      </tr>
    <% end %>
  </table>
<%- else %>
  El vendedor no registra uso de servicios.<br />
<%- end %>
<%= link_to "Servicios Sociales", servicios_sociales_url %>