<h2><%= "#{@vendedor.nombre} #{@vendedor.apellido}" %></h2>
<%- javascript_tag do %>
  variable = <%= hash_servicios %>;
<%- end %>
<%- form_for @uso_servicio, :url => vendedor_uso_servicios_url(@vendedor) do |f| %>
  <%- if f.error_messages.size > 0 %>
    <div class="error"><%= f.error_messages %></div>
  <%- end %>
  Rubro: <%= f.select :rubro_id, coleccion_rubros, :prompt => "- Seleccionar rubro -" %><br />
  Actividad: <%= f.select :servicio_id, [], :prompt => "- Elija un rubro primero -" %><br />
  Fecha: <%= f.date_select :fecha %><br />
  <label>Comentario:</label><br /><%= f.text_area :comentario %><br />
  <%= f.submit "Registrar uso de servicio" %>
<%- end %>