<%- if f.error_messages.size > 0 %>
  <div class="error"><%= f.error_messages %></div>
<%- end %>
<label>Credencial:</label> <%= f.text_field :credencial %><br />
<label>Nombre:</label> <%= f.text_field :nombre %><br />
<label>Apellido:</label> <%= f.text_field :apellido %><br />
<label>Sexo:</label> <%= f.select :sexo, Vendedor.sexos, :prompt => "- Elegir -" %><br />
<label>Fecha de Nacimiento:</label> <%= f.date_select :fecha_nacimiento, :start_year => Time.now.year - 60, :end_year => Time.now.year - 10, :prompt => [] %><br />
<label>Pais:</label> <%= f.select :pais_id, coleccion_paises, :prompt => "- Seleccionar -" %><span id="vendedor_provincia"  style="display:none;"> <label>Provincia:</label> <%= f.select :provincia_id, coleccion_provincias, :prompt => "- Seleccionar -" %></span><span id="vendedor_otro_pais" style="display:none;"><%= f.text_field :pais %></span><br />
<label>Persona del equipo que realizo la inscripcion:</label> <%= f.text_field :personal_inscripcion %><br />
<label>Fecha Inscripcion:</label> <%= f.date_select :fecha_inscripcion %><br />
<label>Telefono:</label> <%= f.text_field :telefono %><br />
<label>Direccion:</label> <%= f.text_field :direccion %><br />
<label>Foto:</label> <%= f.file_field :image %><br />
<br />
<label>Puntos de Venta:</label><br />
<% fields_for :puntos_de_venta do |puntos_de_venta| %>
  <%- (1..5).to_a.each do |n| %>
    <% puntos_de_venta.fields_for n.to_s do |p| %>
      <label>Lugar<%= n == 1 ? " inicial" : " alternativo" %>:</label> <%= p.text_field :lugar %><br />
    <% end %>
  <%- end %>
<% end %>