<%= link_to "volver", vendedor_path(@vendedor) %>
<br />
<%- if @vendedor.encuestas.size > 0 %>
  <%- @vendedor.encuestas.last.items.each do |item| %>
    <strong><%= item.pregunta.titulo %></strong><br />
    <%- unless item.pregunta.multiple? %>
      <%= item.pregunta.respuestas.to_hash[item.respuesta.to_i] if item.pregunta.respuestas %>
    <%- else %>
      <%- item.pregunta.respuestas.each do |respuesta| %>
        <label><%= respuesta[1] %></label> <%= item.respuesta[respuesta[0].to_s] %><br />
      <%- end %>
    <%- end %>
    <%- if item.pregunta.con_comentario? %>
      <br /><%= item.comentario %>
    <%- else %>
      <br />
    <%- end %>
    <br />
  <%- end %>
  <%= link_to "Editar encuesta", edit_vendedor_encuesta_path(@vendedor, @vendedor.encuestas.last) %>
<%- end %>