<ul>
  <li><%= link_to_unless_current "inscripcion", new_vendedor_path %></li>
  <li><%= link_to_unless_current "credenciales", credenciales_path %></li>
  <li><%= link_to_unless_current "distribucion", distribucion_path %></li>
  <li><%= link_to_unless_current "servicios sociales", servicios_sociales_path %></li>
  <li><%= link_to_unless_current "vendedores", vendedores_path %></li>
</ul>