<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type' />
    <title>Hecho en Bs. As.</title>
    <%= stylesheet_link_tag "hecho" %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "hecho" %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%#= yield :header %>
  </head>
  <body>
    <%= render :partial => "layouts/menu" %>
    <%= content_tag(:div, yield, {:id => "content", :class => yield(:content_class)}) %>
  </body>
</html>
